<section class="page-section page-section--dark" data-scroll-section>
    {{ content.field_bg_switcher }}
    <div class="image-map image-map--alt animate-in image-map--anchor-hidden" data-component='ImageMap'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-left text-md-center">
                    <h2 class="image-map__title heading-underlined animate-in" data-component='HeadingUnderlined'>
                        {{ content.field_title }}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 offset-md-0  offset-lg-2 col-md-2">
                    <div class="image-map__description ">
                        {{ content.field_content }}
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="position-relative">
                        {{ content.field_image_map_images }}
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="image-map__legend">
                        <ul class="list-unstyled">
                            {{ content.field_image_map }}
                        </ul>
                        <div class="image-map__legend__bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>