<div class="item {% if paragraph.index == 0 %} active {% endif %}">
  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
    {{ content.field_inside_slider_icon1 }}
    <h3>{{ content.field_inside_slider_title1 }}</h3>
    <p>{{ content.field_inside_slider_description1 }}</p>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
    {{ content.field_inside_slider_icon2 }}
    <h3>{{ content.field_inside_slider_title2 }}</h3>
    <p>{{ content.field_inside_slider_description2 }}</p>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
    {{ content.field_inside_slider_icon3 }}
    <h3>{{ content.field_inside_slider_title3 }}</h3>
    <p>{{ content.field_inside_slider_description3 }}</p>
  </div>
</div>
